<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cqnu.harunasandrivingtestingsystem.mapper.AdministratorMapper">
  <resultMap id="BaseResultMap" type="com.cqnu.harunasandrivingtestingsystem.entity.Administrator">
    <id column="Id" jdbcType="INTEGER" property="id" />
    <result column="Admin_Name" jdbcType="VARCHAR" property="adminName" />
    <result column="Admin_Password" jdbcType="VARCHAR" property="adminPassword" />
    <result column="Admin_Phone" jdbcType="VARCHAR" property="adminPhone" />
    <result column="Enable" jdbcType="INTEGER" property="enable" />
  </resultMap>
  <sql id="Base_Column_List">
    Id, Admin_Name, Admin_Password, Admin_Phone, Enable
  </sql>
  <sql id="EX_Column_List">
    administrator.Id, administrator.Admin_Name, administrator.Admin_Password, administrator.Admin_Phone, administrator.Enable
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from hodts_db.administrator
    where Id = #{id,jdbcType=INTEGER}
  </select>
    <select id="selectAll" resultMap="BaseResultMap">
      select
      <include refid="Base_Column_List" />
      from hodts_db.administrator
    </select>
  <select id="selectByRoleAndName" resultMap="BaseResultMap">
    select
    <include refid="EX_Column_List" />
    from hodts_db.administrator, hodts_db.admin_roles
    where administrator.Id = admin_roles.Aid
    and INSTR(Admin_Name, #{adminName,jdbcType=VARCHAR} )>0
    and Rid = #{roleId,jdbcType=INTEGER}
  </select>
  <select id="selectByName" parameterType="java.lang.String" resultMap="BaseResultMap">
    select
    <include refid="EX_Column_List" />
    from hodts_db.administrator, hodts_db.admin_roles
    where administrator.Id = admin_roles.Aid
    and INSTR(Admin_Name, #{adminName,jdbcType=VARCHAR} )>0
  </select>
  <select id="selectByString" parameterType="java.lang.String" resultMap="BaseResultMap">
    select
    <include refid="EX_Column_List" />
    from hodts_db.administrator
    where administrator.Admin_Password = #{adminName,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from hodts_db.administrator
    where Id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.cqnu.harunasandrivingtestingsystem.entity.Administrator">
    insert into hodts_db.administrator (Id, Admin_Name, Admin_Password,
      Admin_Phone, Enable)
    values (#{id,jdbcType=INTEGER}, #{adminName,jdbcType=VARCHAR}, #{adminPassword,jdbcType=VARCHAR}, 
      #{adminPhone,jdbcType=VARCHAR}, #{enable,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.cqnu.harunasandrivingtestingsystem.entity.Administrator">
    insert into hodts_db.administrator
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        Id,
      </if>
      <if test="adminName != null">
        Admin_Name,
      </if>
      <if test="adminPassword != null">
        Admin_Password,
      </if>
      <if test="adminPhone != null">
        Admin_Phone,
      </if>
      <if test="enable != null">
        Enable,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="adminName != null">
        #{adminName,jdbcType=VARCHAR},
      </if>
      <if test="adminPassword != null">
        #{adminPassword,jdbcType=VARCHAR},
      </if>
      <if test="adminPhone != null">
        #{adminPhone,jdbcType=VARCHAR},
      </if>
      <if test="enable != null">
        #{enable,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.cqnu.harunasandrivingtestingsystem.entity.Administrator">
    update hodts_db.administrator
    <set>
      <if test="adminName != null">
        Admin_Name = #{adminName,jdbcType=VARCHAR},
      </if>
      <if test="adminPassword != null">
        Admin_Password = #{adminPassword,jdbcType=VARCHAR},
      </if>
      <if test="adminPhone != null">
        Admin_Phone = #{adminPhone,jdbcType=VARCHAR},
      </if>
      <if test="enable != null">
        Enable = #{enable,jdbcType=INTEGER},
      </if>
    </set>
    where Id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.cqnu.harunasandrivingtestingsystem.entity.Administrator">
    update hodts_db.administrator
    set Admin_Name = #{adminName,jdbcType=VARCHAR},
      Admin_Password = #{adminPassword,jdbcType=VARCHAR},
      Admin_Phone = #{adminPhone,jdbcType=VARCHAR},
      Enable = #{enable,jdbcType=INTEGER}
    where Id = #{id,jdbcType=INTEGER}
  </update>
</mapper>