<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cqnu.harunasandrivingtestingsystem.mapper.MistakesCollectionOneMapper">
  <resultMap id="BaseResultMap" type="com.cqnu.harunasandrivingtestingsystem.entity.MistakesCollectionOne">
    <id column="mistakes_id" jdbcType="INTEGER" property="mistakesId" />
    <result column="user_id" jdbcType="INTEGER" property="userId" />
    <result column="questions_id" jdbcType="INTEGER" property="questionsId" />
    <result column="wrong_answer" jdbcType="VARCHAR" property="wrongAnswer" />
  </resultMap>
  <resultMap id="QuestionsOneResultMap" type="com.cqnu.harunasandrivingtestingsystem.entity.QuestionsOne">
    <id column="qo_Id" jdbcType="INTEGER" property="qoId" />
    <result column="qo_type" jdbcType="VARCHAR" property="qoType" />
    <result column="qo_title" jdbcType="VARCHAR" property="qoTitle" />
    <result column="qo_option_a" jdbcType="VARCHAR" property="qoOptionA" />
    <result column="qo_option_b" jdbcType="VARCHAR" property="qoOptionB" />
    <result column="qo_option_c" jdbcType="VARCHAR" property="qoOptionC" />
    <result column="qo_option_d" jdbcType="VARCHAR" property="qoOptionD" />
    <result column="qo_answer" jdbcType="VARCHAR" property="qoAnswer" />
    <result column="qo_video" jdbcType="VARCHAR" property="qoVideo" />
    <result column="qo_image" jdbcType="VARCHAR" property="qoImage" />
    <result column="qo_description" jdbcType="VARCHAR" property="qoDescription" />
    <result column="qo_difficulty" jdbcType="INTEGER" property="qoDifficulty" />
    <result column="qo_knowledge" jdbcType="VARCHAR" property="qoKnowledge" />
    <result column="qo_chapter" jdbcType="VARCHAR" property="qoChapter" />
  </resultMap>
  <sql id="Base_Column_List">
    mistakes_id, user_id, questions_id, wrong_answer
  </sql>
  <sql id="QuestionsOne_Column_List">
    qo_Id, qo_type, qo_title, qo_option_a, qo_option_b, qo_option_c, qo_option_d, qo_answer,
    qo_video, qo_image, qo_description, qo_difficulty, qo_knowledge, qo_chapter
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from hodts_db.mistakes_collection_one
    where mistakes_id = #{mistakesId,jdbcType=INTEGER}
  </select>
  <select id="selectUserIdByQoId" resultType="java.lang.Integer">
    select user_id
    from hodts_db.mistakes_collection_one
    where questions_id = #{questionsId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from hodts_db.mistakes_collection_one
    where mistakes_id = #{mistakesId,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByUserIdAndQuestionId">
    delete from hodts_db.mistakes_collection_one
    where user_id =  #{userId,jdbcType=INTEGER}
    and questions_id = #{questionsId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.cqnu.harunasandrivingtestingsystem.entity.MistakesCollectionOne">
    insert into hodts_db.mistakes_collection_one (mistakes_id, user_id, questions_id, 
      wrong_answer)
    values (#{mistakesId,jdbcType=INTEGER}, #{userId,jdbcType=INTEGER}, #{questionsId,jdbcType=INTEGER}, 
      #{wrongAnswer,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.cqnu.harunasandrivingtestingsystem.entity.MistakesCollectionOne">
    insert into hodts_db.mistakes_collection_one
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="mistakesId != null">
        mistakes_id,
      </if>
      <if test="userId != null">
        user_id,
      </if>
      <if test="questionsId != null">
        questions_id,
      </if>
      <if test="wrongAnswer != null">
        wrong_answer,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="mistakesId != null">
        #{mistakesId,jdbcType=INTEGER},
      </if>
      <if test="userId != null">
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="questionsId != null">
        #{questionsId,jdbcType=INTEGER},
      </if>
      <if test="wrongAnswer != null">
        #{wrongAnswer,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.cqnu.harunasandrivingtestingsystem.entity.MistakesCollectionOne">
    update hodts_db.mistakes_collection_one
    <set>
      <if test="userId != null">
        user_id = #{userId,jdbcType=INTEGER},
      </if>
      <if test="questionsId != null">
        questions_id = #{questionsId,jdbcType=INTEGER},
      </if>
      <if test="wrongAnswer != null">
        wrong_answer = #{wrongAnswer,jdbcType=VARCHAR},
      </if>
    </set>
    where mistakes_id = #{mistakesId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.cqnu.harunasandrivingtestingsystem.entity.MistakesCollectionOne">
    update hodts_db.mistakes_collection_one
    set user_id = #{userId,jdbcType=INTEGER},
      questions_id = #{questionsId,jdbcType=INTEGER},
      wrong_answer = #{wrongAnswer,jdbcType=VARCHAR}
    where mistakes_id = #{mistakesId,jdbcType=INTEGER}
  </update>
</mapper>