<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cqnu.harunasandrivingtestingsystem.mapper.RolesMapper">
  <resultMap id="BaseResultMap" type="com.cqnu.harunasandrivingtestingsystem.entity.Roles">
    <id column="Id" jdbcType="INTEGER" property="id" />
    <result column="Name" jdbcType="VARCHAR" property="name" />
    <result column="Alias" jdbcType="VARCHAR" property="alias" />
  </resultMap>
  <sql id="Base_Column_List">
    Id, Name, Alias
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from hodts_db.roles
    where Id = #{id,jdbcType=INTEGER}
  </select>

  <select id="selectByAdministratorId" parameterType="java.lang.Integer" resultType="com.cqnu.harunasandrivingtestingsystem.entity.Roles">
    select
    roles.*
    from hodts_db.roles
    left join admin_roles ar on ar.Rid = roles.Id
    left join administrator a on a.Id = ar.Aid
    where a.Id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectByUserId" parameterType="java.lang.Integer" resultType="com.cqnu.harunasandrivingtestingsystem.entity.Roles">
    select
    roles.*
    from hodts_db.roles
    left join user_roles ur on ur.Rid = roles.Id
    left join user u on u.user_id = ur.Uid
    where u.user_id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectBySchoolId" parameterType="java.lang.Integer" resultType="com.cqnu.harunasandrivingtestingsystem.entity.Roles">
    select
    roles.*
    from hodts_db.roles
    left join school_roles sr on sr.Rid = roles.Id
    left join school s on s.school_id = sr.Sid
    where s.school_id = #{id,jdbcType=INTEGER}
  </select>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from hodts_db.roles
    where Id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.cqnu.harunasandrivingtestingsystem.entity.Roles">
    insert into hodts_db.roles (Id, Name, Alias
      )
    values (#{id,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, #{alias,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.cqnu.harunasandrivingtestingsystem.entity.Roles">
    insert into hodts_db.roles
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        Id,
      </if>
      <if test="name != null">
        Name,
      </if>
      <if test="alias != null">
        Alias,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="alias != null">
        #{alias,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.cqnu.harunasandrivingtestingsystem.entity.Roles">
    update hodts_db.roles
    <set>
      <if test="name != null">
        Name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="alias != null">
        Alias = #{alias,jdbcType=VARCHAR},
      </if>
    </set>
    where Id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.cqnu.harunasandrivingtestingsystem.entity.Roles">
    update hodts_db.roles
    set Name = #{name,jdbcType=VARCHAR},
      Alias = #{alias,jdbcType=VARCHAR}
    where Id = #{id,jdbcType=INTEGER}
  </update>
</mapper>