<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cqnu.harunasandrivingtestingsystem.mapper.SchoolMapper">
  <resultMap id="BaseResultMap" type="com.cqnu.harunasandrivingtestingsystem.entity.School">
    <id column="school_id" jdbcType="INTEGER" property="schoolId" />
    <result column="school_corporate_name" jdbcType="VARCHAR" property="schoolCorporateName" />
    <result column="school_corporate_tel" jdbcType="VARCHAR" property="schoolCorporateTel" />
    <result column="school_password" jdbcType="VARCHAR" property="schoolPassword" />
    <result column="school_email" jdbcType="VARCHAR" property="schoolEmail" />
    <result column="school_name" jdbcType="VARCHAR" property="schoolName" />
    <result column="school_company_name" jdbcType="VARCHAR" property="schoolCompanyName" />
    <result column="school_authentication_status" jdbcType="TINYINT" property="schoolAuthenticationStatus" />
    <result column="school_card_id" jdbcType="VARCHAR" property="schoolCardId" />
    <result column="school_enroll_telphone" jdbcType="VARCHAR" property="schoolEnrollTelphone" />
    <result column="school_start_price" jdbcType="INTEGER" property="schoolStartPrice" />
    <result column="school_business_license" jdbcType="VARCHAR" property="schoolBusinessLicense" />
    <result column="school_certification_license" jdbcType="VARCHAR" property="schoolCertificationLicense" />
    <result column="school_social_credit_code" jdbcType="VARCHAR" property="schoolSocialCreditCode" />
    <result column="school_province" jdbcType="VARCHAR" property="schoolProvince" />
    <result column="school_city" jdbcType="VARCHAR" property="schoolCity" />
    <result column="school_area" jdbcType="VARCHAR" property="schoolArea" />
    <result column="school_detail_address" jdbcType="VARCHAR" property="schoolDetailAddress" />
    <result column="school_start_time" jdbcType="DATE" property="schoolStartTime" />
    <result column="school_pass_time" jdbcType="DATE" property="schoolPassTime" />
    <result column="school_public_praise" jdbcType="DOUBLE" property="schoolPublicPraise" />
    <result column="school_reg_date" jdbcType="DATE" property="schoolRegDate" />
    <result column="school_enable" jdbcType="INTEGER" property="schoolEnable" />
  </resultMap>
  <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="com.cqnu.harunasandrivingtestingsystem.entity.School">
    <result column="school_introduction" jdbcType="LONGVARCHAR" property="schoolIntroduction" />
  </resultMap>
  <sql id="Base_Column_List">
    school_id, school_corporate_name, school_corporate_tel, school_password, school_email, 
    school_name, school_company_name, school_authentication_status, school_card_id, school_enroll_telphone, 
    school_start_price, school_business_license, school_certification_license, school_social_credit_code, 
    school_province, school_city, school_area, school_detail_address, school_start_time, 
    school_pass_time, school_public_praise, school_reg_date, school_enable
  </sql>
  <sql id="Blob_Column_List">
    school_introduction
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="ResultMapWithBLOBs">
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from hodts_db.school
    where school_id = #{schoolId,jdbcType=INTEGER}
  </select>
  <select id="selectIdByEmail" parameterType="java.lang.String" resultMap="ResultMapWithBLOBs">
    select
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from hodts_db.school
    where school_email = #{schoolEmail,jdbcType=VARCHAR}
  </select>
  <select id="selectSchoolNameByEmail" parameterType="java.lang.String" resultType="java.lang.String">
    select school_name
    from hodts_db.school
    where school_email = #{schoolEmail,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from hodts_db.school
    where school_id = #{schoolId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.cqnu.harunasandrivingtestingsystem.entity.School">
    insert into hodts_db.school (school_id, school_corporate_name, school_corporate_tel,
      school_password, school_email, school_name, 
      school_company_name, school_authentication_status, 
      school_card_id, school_enroll_telphone, school_start_price, 
      school_business_license, school_certification_license, 
      school_social_credit_code, school_province, 
      school_city, school_area, school_detail_address, 
      school_start_time, school_pass_time, school_public_praise, 
      school_reg_date, school_enable, school_introduction
      )
    values (#{schoolId,jdbcType=INTEGER}, #{schoolCorporateName,jdbcType=VARCHAR}, #{schoolCorporateTel,jdbcType=VARCHAR},
      #{schoolPassword,jdbcType=VARCHAR}, #{schoolEmail,jdbcType=VARCHAR}, #{schoolName,jdbcType=VARCHAR}, 
      #{schoolCompanyName,jdbcType=VARCHAR}, #{schoolAuthenticationStatus,jdbcType=TINYINT}, 
      #{schoolCardId,jdbcType=VARCHAR}, #{schoolEnrollTelphone,jdbcType=VARCHAR}, #{schoolStartPrice,jdbcType=INTEGER}, 
      #{schoolBusinessLicense,jdbcType=VARCHAR}, #{schoolCertificationLicense,jdbcType=VARCHAR}, 
      #{schoolSocialCreditCode,jdbcType=VARCHAR}, #{schoolProvince,jdbcType=VARCHAR}, 
      #{schoolCity,jdbcType=VARCHAR}, #{schoolArea,jdbcType=VARCHAR}, #{schoolDetailAddress,jdbcType=VARCHAR}, 
      #{schoolStartTime,jdbcType=DATE}, #{schoolPassTime,jdbcType=DATE}, #{schoolPublicPraise,jdbcType=DOUBLE}, 
      #{schoolRegDate,jdbcType=DATE}, #{schoolEnable,jdbcType=INTEGER}, #{schoolIntroduction,jdbcType=LONGVARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.cqnu.harunasandrivingtestingsystem.entity.School">
    insert into hodts_db.school
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="schoolId != null">
        school_id,
      </if>
      <if test="schoolCorporateName != null">
        school_corporate_name,
      </if>
      <if test="schoolCorporateTel != null">
        school_corporate_tel,
      </if>
      <if test="schoolPassword != null">
        school_password,
      </if>
      <if test="schoolEmail != null">
        school_email,
      </if>
      <if test="schoolName != null">
        school_name,
      </if>
      <if test="schoolCompanyName != null">
        school_company_name,
      </if>
      <if test="schoolAuthenticationStatus != null">
        school_authentication_status,
      </if>
      <if test="schoolCardId != null">
        school_card_id,
      </if>
      <if test="schoolEnrollTelphone != null">
        school_enroll_telphone,
      </if>
      <if test="schoolStartPrice != null">
        school_start_price,
      </if>
      <if test="schoolBusinessLicense != null">
        school_business_license,
      </if>
      <if test="schoolCertificationLicense != null">
        school_certification_license,
      </if>
      <if test="schoolSocialCreditCode != null">
        school_social_credit_code,
      </if>
      <if test="schoolProvince != null">
        school_province,
      </if>
      <if test="schoolCity != null">
        school_city,
      </if>
      <if test="schoolArea != null">
        school_area,
      </if>
      <if test="schoolDetailAddress != null">
        school_detail_address,
      </if>
      <if test="schoolStartTime != null">
        school_start_time,
      </if>
      <if test="schoolPassTime != null">
        school_pass_time,
      </if>
      <if test="schoolPublicPraise != null">
        school_public_praise,
      </if>
      <if test="schoolRegDate != null">
        school_reg_date,
      </if>
      <if test="schoolEnable != null">
        school_enable,
      </if>
      <if test="schoolIntroduction != null">
        school_introduction,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="schoolId != null">
        #{schoolId,jdbcType=INTEGER},
      </if>
      <if test="schoolCorporateName != null">
        #{schoolCorporateName,jdbcType=VARCHAR},
      </if>
      <if test="schoolCorporateTel != null">
        #{schoolCorporateTel,jdbcType=VARCHAR},
      </if>
      <if test="schoolPassword != null">
        #{schoolPassword,jdbcType=VARCHAR},
      </if>
      <if test="schoolEmail != null">
        #{schoolEmail,jdbcType=VARCHAR},
      </if>
      <if test="schoolName != null">
        #{schoolName,jdbcType=VARCHAR},
      </if>
      <if test="schoolCompanyName != null">
        #{schoolCompanyName,jdbcType=VARCHAR},
      </if>
      <if test="schoolAuthenticationStatus != null">
        #{schoolAuthenticationStatus,jdbcType=TINYINT},
      </if>
      <if test="schoolCardId != null">
        #{schoolCardId,jdbcType=VARCHAR},
      </if>
      <if test="schoolEnrollTelphone != null">
        #{schoolEnrollTelphone,jdbcType=VARCHAR},
      </if>
      <if test="schoolStartPrice != null">
        #{schoolStartPrice,jdbcType=INTEGER},
      </if>
      <if test="schoolBusinessLicense != null">
        #{schoolBusinessLicense,jdbcType=VARCHAR},
      </if>
      <if test="schoolCertificationLicense != null">
        #{schoolCertificationLicense,jdbcType=VARCHAR},
      </if>
      <if test="schoolSocialCreditCode != null">
        #{schoolSocialCreditCode,jdbcType=VARCHAR},
      </if>
      <if test="schoolProvince != null">
        #{schoolProvince,jdbcType=VARCHAR},
      </if>
      <if test="schoolCity != null">
        #{schoolCity,jdbcType=VARCHAR},
      </if>
      <if test="schoolArea != null">
        #{schoolArea,jdbcType=VARCHAR},
      </if>
      <if test="schoolDetailAddress != null">
        #{schoolDetailAddress,jdbcType=VARCHAR},
      </if>
      <if test="schoolStartTime != null">
        #{schoolStartTime,jdbcType=DATE},
      </if>
      <if test="schoolPassTime != null">
        #{schoolPassTime,jdbcType=DATE},
      </if>
      <if test="schoolPublicPraise != null">
        #{schoolPublicPraise,jdbcType=DOUBLE},
      </if>
      <if test="schoolRegDate != null">
        #{schoolRegDate,jdbcType=DATE},
      </if>
      <if test="schoolEnable != null">
        #{schoolEnable,jdbcType=INTEGER},
      </if>
      <if test="schoolIntroduction != null">
        #{schoolIntroduction,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.cqnu.harunasandrivingtestingsystem.entity.School">
    update hodts_db.school
    <set>
      <if test="schoolCorporateName != null">
        school_corporate_name = #{schoolCorporateName,jdbcType=VARCHAR},
      </if>
      <if test="schoolCorporateTel != null">
        school_corporate_tel = #{schoolCorporateTel,jdbcType=VARCHAR},
      </if>
      <if test="schoolPassword != null">
        school_password = #{schoolPassword,jdbcType=VARCHAR},
      </if>
      <if test="schoolEmail != null">
        school_email = #{schoolEmail,jdbcType=VARCHAR},
      </if>
      <if test="schoolName != null">
        school_name = #{schoolName,jdbcType=VARCHAR},
      </if>
      <if test="schoolCompanyName != null">
        school_company_name = #{schoolCompanyName,jdbcType=VARCHAR},
      </if>
      <if test="schoolAuthenticationStatus != null">
        school_authentication_status = #{schoolAuthenticationStatus,jdbcType=TINYINT},
      </if>
      <if test="schoolCardId != null">
        school_card_id = #{schoolCardId,jdbcType=VARCHAR},
      </if>
      <if test="schoolEnrollTelphone != null">
        school_enroll_telphone = #{schoolEnrollTelphone,jdbcType=VARCHAR},
      </if>
      <if test="schoolStartPrice != null">
        school_start_price = #{schoolStartPrice,jdbcType=INTEGER},
      </if>
      <if test="schoolBusinessLicense != null">
        school_business_license = #{schoolBusinessLicense,jdbcType=VARCHAR},
      </if>
      <if test="schoolCertificationLicense != null">
        school_certification_license = #{schoolCertificationLicense,jdbcType=VARCHAR},
      </if>
      <if test="schoolSocialCreditCode != null">
        school_social_credit_code = #{schoolSocialCreditCode,jdbcType=VARCHAR},
      </if>
      <if test="schoolProvince != null">
        school_province = #{schoolProvince,jdbcType=VARCHAR},
      </if>
      <if test="schoolCity != null">
        school_city = #{schoolCity,jdbcType=VARCHAR},
      </if>
      <if test="schoolArea != null">
        school_area = #{schoolArea,jdbcType=VARCHAR},
      </if>
      <if test="schoolDetailAddress != null">
        school_detail_address = #{schoolDetailAddress,jdbcType=VARCHAR},
      </if>
      <if test="schoolStartTime != null">
        school_start_time = #{schoolStartTime,jdbcType=DATE},
      </if>
      <if test="schoolPassTime != null">
        school_pass_time = #{schoolPassTime,jdbcType=DATE},
      </if>
      <if test="schoolPublicPraise != null">
        school_public_praise = #{schoolPublicPraise,jdbcType=DOUBLE},
      </if>
      <if test="schoolRegDate != null">
        school_reg_date = #{schoolRegDate,jdbcType=DATE},
      </if>
      <if test="schoolEnable != null">
        school_enable = #{schoolEnable,jdbcType=INTEGER},
      </if>
      <if test="schoolIntroduction != null">
        school_introduction = #{schoolIntroduction,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where school_id = #{schoolId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.cqnu.harunasandrivingtestingsystem.entity.School">
    update hodts_db.school
    set school_corporate_name = #{schoolCorporateName,jdbcType=VARCHAR},
      school_corporate_tel = #{schoolCorporateTel,jdbcType=VARCHAR},
      school_password = #{schoolPassword,jdbcType=VARCHAR},
      school_email = #{schoolEmail,jdbcType=VARCHAR},
      school_name = #{schoolName,jdbcType=VARCHAR},
      school_company_name = #{schoolCompanyName,jdbcType=VARCHAR},
      school_authentication_status = #{schoolAuthenticationStatus,jdbcType=TINYINT},
      school_card_id = #{schoolCardId,jdbcType=VARCHAR},
      school_enroll_telphone = #{schoolEnrollTelphone,jdbcType=VARCHAR},
      school_start_price = #{schoolStartPrice,jdbcType=INTEGER},
      school_business_license = #{schoolBusinessLicense,jdbcType=VARCHAR},
      school_certification_license = #{schoolCertificationLicense,jdbcType=VARCHAR},
      school_social_credit_code = #{schoolSocialCreditCode,jdbcType=VARCHAR},
      school_province = #{schoolProvince,jdbcType=VARCHAR},
      school_city = #{schoolCity,jdbcType=VARCHAR},
      school_area = #{schoolArea,jdbcType=VARCHAR},
      school_detail_address = #{schoolDetailAddress,jdbcType=VARCHAR},
      school_start_time = #{schoolStartTime,jdbcType=DATE},
      school_pass_time = #{schoolPassTime,jdbcType=DATE},
      school_public_praise = #{schoolPublicPraise,jdbcType=DOUBLE},
      school_reg_date = #{schoolRegDate,jdbcType=DATE},
      school_enable = #{schoolEnable,jdbcType=INTEGER},
      school_introduction = #{schoolIntroduction,jdbcType=LONGVARCHAR}
    where school_id = #{schoolId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.cqnu.harunasandrivingtestingsystem.entity.School">
    update hodts_db.school
    set school_corporate_name = #{schoolCorporateName,jdbcType=VARCHAR},
      school_corporate_tel = #{schoolCorporateTel,jdbcType=VARCHAR},
      school_password = #{schoolPassword,jdbcType=VARCHAR},
      school_email = #{schoolEmail,jdbcType=VARCHAR},
      school_name = #{schoolName,jdbcType=VARCHAR},
      school_company_name = #{schoolCompanyName,jdbcType=VARCHAR},
      school_authentication_status = #{schoolAuthenticationStatus,jdbcType=TINYINT},
      school_card_id = #{schoolCardId,jdbcType=VARCHAR},
      school_enroll_telphone = #{schoolEnrollTelphone,jdbcType=VARCHAR},
      school_start_price = #{schoolStartPrice,jdbcType=INTEGER},
      school_business_license = #{schoolBusinessLicense,jdbcType=VARCHAR},
      school_certification_license = #{schoolCertificationLicense,jdbcType=VARCHAR},
      school_social_credit_code = #{schoolSocialCreditCode,jdbcType=VARCHAR},
      school_province = #{schoolProvince,jdbcType=VARCHAR},
      school_city = #{schoolCity,jdbcType=VARCHAR},
      school_area = #{schoolArea,jdbcType=VARCHAR},
      school_detail_address = #{schoolDetailAddress,jdbcType=VARCHAR},
      school_start_time = #{schoolStartTime,jdbcType=DATE},
      school_pass_time = #{schoolPassTime,jdbcType=DATE},
      school_public_praise = #{schoolPublicPraise,jdbcType=DOUBLE},
      school_reg_date = #{schoolRegDate,jdbcType=DATE},
      school_enable = #{schoolEnable,jdbcType=INTEGER}
    where school_id = #{schoolId,jdbcType=INTEGER}
  </update>
</mapper>